<!--#set var="revision" value="\$Id: docs_errors.tmpl,v 1.1 2005-03-17 06:30:13 ot Exp $"
--><!--#set var="date" value="\$Date: 2005-03-17 06:30:13 $"
--><!--#set var="title" value="Error Explanations for The W3C Markup Validation Service"
--><!--#set var="relroot" value="../"
--><!--#include virtual="../header.html" -->

<h2>Explanation of the error messages<br /> for the W3C Markup Validator</h2>
    <p>
      These error explanations were originally written by Scott Bigham,
      and are used here with his permission.
    </p>

<h3 id="TableOfContents">Table of Contents</h3>
  <div id="toc">
    <ul>
	<li>...</li>
    </ul>
  </div>

  <div>
    <h3>Listing of errors and their explanation</h3>
      <dl>
      <TMPL_LOOP NAME="list_errors">
        <dt><TMPL_VAR NAME="id"> <TMPL_VAR NAME="original"></dt>
        <dd><TMPL_VAR NAME="verbose"></dd>  
      </TMPL_LOOP>
      </dl>
    </div>
<!--#include virtual="../footer.html" -->
  </body>
</html>