<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE name="jumpbar.tmpl">

      <TMPL_INCLUDE NAME="table.tmpl">
      
      <TMPL_IF NAME="have_warnings">
        <TMPL_INCLUDE NAME="warnings.tmpl">
      </TMPL_IF>

<ol id="fatal-errors">
<TMPL_IF NAME="fatal_no_checker">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
    <span class="msg">External Checker not available</span>
    <p>
      Checking the Document Type of this document requires the help of an external tool which was either not enabled
      in this validator, or is currently unavailable. Check in the validator's system configuration 
      that <TMPL_IF NAME="fatal_missing_checker"><TMPL_VAR NAME="fatal_missing_checker"> is enabled and functional<TMPL_ELSE>all external checkers are enabled, and test if they are responsive</TMPL_IF>.
    </p>
    <TMPL_IF NAME="fatal_checker_error">
    <p>
      The error encountered was:
      <code><TMPL_VAR NAME="fatal_checker_error" ESCAPE="HTML"></code>
    </p>
    </TMPL_IF>
</li>
</TMPL_IF>
<TMPL_IF NAME="fatal_transcode_error">
  <li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        A fatal error occurred when attempting to transcode the character
        encoding of the document. Either we do not support this character
        encoding ("<TMPL_VAR NAME="fatal_transcode_charset" ESCAPE="HTML">")
        yet, or you have specified a non-existent character encoding (often
        a misspelling).
      </p>
      <p>The error was: <TMPL_IF NAME="fatal_transcode_errmsg"><TMPL_VAR NAME="fatal_transcode_errmsg"><TMPL_ELSE>(no error message given)</TMPL_IF></p>
      <p>
        If you believe the character encoding to be valid you can submit a
        request for that character encoding (see the
        <a href="feedback.html">feedback page</a> for details) and we will
        look into supporting it in the future.
      </p>
  <TMPL_INCLUDE NAME="iana_charset_blurb.tmpl">
  </li>
</TMPL_IF>

<TMPL_IF NAME="fatal_byte_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        Sorry, I am unable to validate this document because on line
        <strong><TMPL_VAR NAME="fatal_byte_lines"></strong>
        it contained one or more bytes that I cannot interpret as
        <code><TMPL_VAR NAME="fatal_byte_charset" ESCAPE="HTML"></code>
        (in other words, the bytes found are not valid values in the specified
        Character Encoding). Please check both the content of the file and the
        character encoding indication.
      </p>
      <p>The error was: 
        <TMPL_VAR NAME="fatal_byte_error_msg">
      </p>
      </li>
</TMPL_IF>

<TMPL_IF NAME="fatal_decode_error">
  <li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        A fatal error occurred when attempting to decode response body
        from <TMPL_VAR NAME="fatal_decode_uri" ESCAPE="HTML">.
        Either we do not support the content encoding specified
        ("<TMPL_VAR NAME="fatal_decode_cenc" ESCAPE="HTML">"), or an
        error occurred while decoding it.
      </p>
      <p>The error was:
        <TMPL_VAR NAME="fatal_decode_errmsg" DEFAULT="(no error message given)" ESCAPE="HTML">
      </p>
  </li>
</TMPL_IF>

<TMPL_IF NAME="fatal_uri_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        Sorry, this type of
        <a href="http://www.w3.org/Addressing/">URL</a>
        <a href="http://www.iana.org/assignments/uri-schemes.html">scheme</a>
        (<q><TMPL_VAR NAME="fatal_uri_scheme" ESCAPE="HTML"></q>) is not
        supported by this service. Please check that you entered the URL correctly.
      </p>
      <p>URLs should be in the form: <code>https://validator.w3.org/</code></p>
      <p>
        If you entered a valid URL using a scheme that we should support,
        please let us know as outlined on our
        <a href="feedback.html">Feedback page</a>. Make sure to include the
        specific URL you would like us to support, and if possible provide a
        reference to the relevant standards document describing the URL scheme
        in question.
      </p>
      <p class="tip">
        Remember that you can always save the page to disk and Validate it
        using the <a href="./#validate-by-upload">File Upload interface</a>.
      </p>
</li>
</TMPL_IF>
<TMPL_IF NAME="fatal_no_content">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        Sorry, I could not find any content to validate. It is probable that you
        clicked on the "check" button without choosing a URL, a file or entering
        the content of the document you would like to validate.
      </p>
      <p>
        Read the <a href="docs/users.html">User's guide</a> for quick instructions
        on using this validator.
      </p>
</li>
</TMPL_IF>



<TMPL_IF NAME="fatal_ip_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        Sorry, the IP address <TMPL_IF NAME="fatal_ip_hostname">of</TMPL_IF>
        <TMPL_VAR NAME="fatal_ip_host"> is
        <a href="http://www.ietf.org/rfc/rfc1918.txt">not public</a>.
        For security reasons, validating resources located at non-public IP
        addresses has been disabled in this service.
      </p>
</li>
</TMPL_IF>

<TMPL_IF NAME="fatal_port_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        For security reasons, validating resources located at most reserved ports &lt; 1024  
        has been disabled in this service.
      </p>
</li>
</TMPL_IF>


<TMPL_IF NAME="fatal_http_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
  <p>
    I got the following unexpected response when trying to
    retrieve &lt;<a href="<TMPL_VAR NAME="fatal_http_uri" ESCAPE="HTML">"><TMPL_VAR NAME="fatal_http_uri" ESCAPE="HTML"></a>&gt;:
  </p>
  <blockquote>
    <p><code><TMPL_VAR NAME="fatal_http_code" ESCAPE="HTML"> <TMPL_VAR NAME="fatal_http_msg" ESCAPE="HTML"></code></p>
  </blockquote>
  <TMPL_IF NAME="fatal_http_dns">
  <p>
    If you made recent changes to your domain name (DNS) configuration, you may
    also want to <a href="http://www.squish.net/dnscheck/">check that your
    domain records are correct</a>, or ask your hosting company to do so.
  </p>
  </TMPL_IF>
  <TMPL_IF NAME="fatal_http_warn">
  <p>
    More information about why this is happening may be available from
    warnings reported by the validator's HTTP (and other protocol) client
    library:
  </p>
  <blockquote>
    <p><code><TMPL_VAR NAME="fatal_http_warn" ESCAPE="HTML"></code></p>
  </blockquote>
  </TMPL_IF>
  <TMPL_IF NAME="fatal_http_no200">
  <p>
    You can choose to
    <a href="<TMPL_VAR NAME="fatal_http_no200" ESCAPE="HTML">">validate
    the received error document</a> for example if the URL intentionally
    points to one (there is also a "Validate error pages" option in the
    options view for this purpose).
  </p>
  </TMPL_IF>
</li>
</TMPL_IF>

<TMPL_IF NAME="fatal_mime_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <p>
        Sorry, I am unable to validate this document because its content type
        is <code><TMPL_VAR NAME="fatal_mime_ct" ESCAPE="HTML"></code>, which is
        not currently supported by this service.
      </p>
      <p>
        The Content-Type header is sent by your web server (or web browser if
        you use the file upload interface) and depends on its configuration.
        Commonly, web servers will have a mapping of filename extensions
        (such as ".html") to <abbr
          title="Multipurpose Internet Mail Extensions">MIME</abbr>
        <code>Content-Type</code> values (such as <code>text/html</code>).
      </p>
      <p>
        That you received this message can mean that your server is
        not configured correctly, that your file does not have the correct
        filename extension, or that you are attempting to validate a file
        type that we do not support yet. In the latter case you should let
        us know that you need us to support that content type (please include
        all relevant details, including the URL to the standards document
        defining the content type) using the instructions on the
        <a href="feedback.html">Feedback Page</a>.
      </p>
  </li>
</TMPL_IF>

<TMPL_IF NAME="fatal_parse_extid_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
      <h3>Fatal Error: <TMPL_VAR NAME="fatal_parse_extid_msg" ESCAPE="HTML"></h3>
      <p>
        I could not parse this document, because it makes reference to a
        system-specific file instead of using a well-known public identifier
        to specify the type of markup being used.
      </p>
      <TMPL_INCLUDE NAME="doctype_spiel.tmpl">
      </li>
</TMPL_IF>

<TMPL_IF NAME="fatal_referer_error">
<li class="msg_err"><span class="err_type"><img src="images/info_icons/error.png" alt="Error" title="Error" /></span>
        <h3><strong>No Referer header found!</strong></h3>
        <p>
          You have requested we check the referring page, but your browser did
          not send the HTTP "Referer" header field. This can be for several
          reasons, but most commonly it is because your browser does not
          know about this header, has been configured not to send one,
          transferred the referring document over a secure protocol such as
          https but is accessing the validator over ordinary non-secure http,
          or is behind a proxy or firewall that strips it out of the request
          before it reaches us.
        </p>
        <p>This is <em>not</em> an error in the referring page!</p>
        <p>
          Please use the form interface on the
          <a href="./">Validator Home Page</a> (or the
          <a href="detailed.html">Extended Interface</a>) to check the
          page by URL.
        </p>
</li>
</TMPL_IF>
</ol>

<TMPL_INCLUDE NAME="footer.tmpl">
