<TMPL_INCLUDE NAME="header.tmpl">

    <div id="main">
      <h2>Validator Results Feedback / Call for help</h2>

      <TMPL_IF NAME="ack_ok">
        <p class="ackmessage">Thank you. Your message will be reviewed and should appear in the
        <a href="http://lists.w3.org/Archives/Public/www-validator/">www-validator</a> list archives
        very soon. If your message requires any kind of answer, participants of the www-validator list
        and the validator team will try to get back to you as soon as possible.</p>
      </TMPL_IF>


      <p>We hope that the W3C Markup Validation service is reasonably accurate and easy to use.
      If, however, you have found a bug in this tool, wish to suggest improvements to the validation errors and explanations,
      would like to request some help in using the validator or would just like to send some general feedback, 
      this form is for you.</p>
      

      <p>Please note that messages written through this form are sent to W3C's <strong>publicly archived</strong> 
      mailing-list <a href="http://lists.w3.org/Archives/Public/www-validator/">www-validator</a>.
      </p>


      <TMPL_IF NAME="errmsg_id">
        <p>You are sending feedback on error message [<TMPL_VAR NAME="errmsg_id">]: "<TMPL_VAR NAME="explanation">".</p>      
      <p>Before you send this message, we encourage you to 
      <a href="http://www.w3.org/Search/Mail/Public/search?type-index=www-validator&index-type=t&keywords=%5BVE%5D%5B<TMPL_VAR NAME="errmsg_id">%5D&search=Search">search the archives for existing messages</a> on this error 
      in case your feedback has already been sent, or answers to 
      your query have already been given. </p>
      <TMPL_ELSE>
      <form method="get" action="http://www.w3.org/Search/Mail/Public/search">
      <p>Before you send this message, we encourage you to first search the archives of the www-validator mailing-list
      in case your feedback has already been sent, or answers to your query have already been given:
        <input id="type-index" name="type-index" type="hidden" value="www-validator" />
        <input id="index-type" name="index-type" type="hidden" value="t" />
        <input name="keywords" type="text" size="33" maxlength="100" value="" accesskey="f" />
        <input type="submit" name="search" value="Search Mail Archives" />
      </p>
      </form>
      </TMPL_IF>


    </div><!-- end of "main" -->

<TMPL_INCLUDE NAME="footer.tmpl">
