    <address>
      <a href="http://validator.w3.org/check/referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10" height="31" width="88"
        alt="Valid XHTML 1.0!" /></a>
      <a title="Send Feedback for the W3C MarkUp Validation Service"
        href="./feedback.html">The W3C Validator Team</a><br />
      Date: 2002/11/26 22:22:16 
      <!-- SSI Template Version: $Id: footer.tmpl,v 1.1 2002-12-02 01:53:16 link Exp $ -->
    </address>
