Content-Language: en
Content-Type: text/html; charset=UTF-8<TMPL_UNLESS NAME="is_feedback">
<TMPL_IF NAME="fatal_referer_error">Vary: Referer
</TMPL_IF>X-W3C-Validator-Recursion: <TMPL_VAR NAME="depth" DEFAULT="1"><TMPL_IF NAME="fatal_error">
X-W3C-Validator-Status: Abort<TMPL_ELSE><TMPL_IF NAME="valid_status">
X-W3C-Validator-Status: <TMPL_VAR NAME="valid_status"></TMPL_IF>
X-W3C-Validator-Errors: <TMPL_VAR NAME="valid_errors_num">
X-W3C-Validator-Warnings: <TMPL_VAR NAME="valid_warnings_num"></TMPL_IF></TMPL_UNLESS>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>
            <TMPL_IF NAME="valid_status">[<TMPL_VAR NAME="valid_status">]</TMPL_IF>
            <TMPL_IF NAME="page_title_url">Markup Validation of <TMPL_VAR NAME="page_title_url" ESCAPE="HTML"><TMPL_ELSE><TMPL_IF NAME="page_title"><TMPL_VAR NAME="page_title" ESCAPE="HTML"><TMPL_ELSE>Validation Results</TMPL_IF></TMPL_IF> - W3C Markup Validator</title>
        <TMPL_IF NAME="is_feedback"><link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /><TMPL_ELSE><link rel="icon" href="<TMPL_IF NAME="VALID">data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%0C%DD%10%C5%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00dy%01%7F%0C%9F0%7D%00%00%00%00IEND%AEB%60%82<TMPL_ELSE>data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%BCd%AB%C2%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00%DE%B5%01S%07%88%8FG%00%00%00%00IEND%AEB%60%82</TMPL_IF>" type="image/png" /></TMPL_IF>
    <link rev="made" href="mailto:www-validator@w3.org" />
    <link rev="start" href="./" title="Home Page" />
    <link rel="stylesheet" href="./style/base" type="text/css" media="all" />
    <link rel="stylesheet" href="./style/results" type="text/css" media="all" />
    <meta name="keywords" content="HTML, HyperText Markup Language, Validation,
      W3C Markup Validation Service" />
    <meta name="description" content="W3C's easy-to-use
      markup validation service, based on SGML and XML parsers." />
  </head>
  <body>
    
    <div id="banner">
     <h1 id="title">
       <a href="http://www.w3.org/"><img alt="W3C" width="110" height="61" id="logo" src="./images/no_w3c.png" /></a>
 			<a href="./"><span>Markup Validation Service</span></a>
       </h1>
       <p id="tagline">Check the markup (HTML, XHTML, …) of Web documents</p>
    </div>


<div id="results_container">
