Content-Language: en
Content-Type: text/html; charset=utf-8
X-W3C-Validator-Recursion: <TMPL_IF NAME="depth"><TMPL_VAR NAME="depth"><TMPL_ELSE>1</TMPL_IF>

<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>[WMVS] <TMPL_IF NAME="page_title_url">Result for <TMPL_VAR NAME="page_title_url"><TMPL_ELSE>Validation Results</TMPL_IF></title>
    <link rev="made" href="mailto:www-validator@w3.org" />
    <link rev="start" href="./" title="Home Page" />
    <style type="text/css" media="all">@import "./base.css";</style>
    <meta name="keywords" content="HTML, HyperText Markup Language, Validation,
      W3C Markup Validation Service" />

    <meta name="description" content="W3C's easy-to-use
      HTML validation service, based on an SGML parser." />
  </head>

  <body>
    <div id="banner">
      <h1 id="title">
	<a href="http://www.w3.org/"><img height="48" alt="W3C" id="logo" src="http://www.w3.org/Icons/WWW/w3c_home_nb" /></a>
        <a href="http://www.w3.org/QA/"><img src="http://www.w3.org/QA/2002/12/qa-small.png" alt="QA" /></a>
        Markup Validation Service</h1>
	<span id="versioninfo"><abbr title="version">v</abbr>0.7.0-dev</span>
    </div>
    <ul class="navbar" id="menu">
        <li><span class="hideme"><a href="#skip" accesskey="s" title="Skip past navigation to main part of page">Skip Navigation</a> |</span>
        <a href="./" accesskey="h" title="Go to the Home Page for The W3C Markup Validation Service"><strong>Home</strong></a></li>
        <li><a href="./about.html" title="Information About this Service">About...</a></li>
        <li><a href="./whatsnew.html" title="The changes made to this service recently">News</a></li>
        <li><a href="./docs/" title="Documentation for this Service">Docs</a></li>
	<li><a href="./docs/help.html" title="Help and answers to frequently asked questions">Help&nbsp;&amp;&nbsp;<acronym title="Frequently Asked Questions">FAQ</acronym></a></li>
        <li><a href="./feedback.html" title="How to provide feedback on this service">Feedback</a></li>
	<li><a href="http://validator.w3.org/checklink" title="In addition to fixing your markup, fix your links with the W3C Link Checker">Link Checker</a></li>
    </ul>

