
<TMPL_IF NAME="have_warnings">
  <TMPL_INCLUDE NAME="warnings.tmpl">
</TMPL_IF>

<TMPL_INCLUDE NAME="backtop.tmpl">


<div id="result">

<h3 <TMPL_UNLESS NAME="VALID">class="invalid"</TMPL_UNLESS>
>Validation Output:
        <TMPL_IF NAME="number_of_errors_is_0">
        Invalid<!-- this case where validation fails but no error is listed should never happen -->
        </TMPL_IF>
        <TMPL_IF NAME="number_of_errors_is_1">1 Error</TMPL_IF>
        <TMPL_IF NAME="number_of_errors_is_plural"><TMPL_VAR NAME="valid_errors_num" ESCAPE="HTML"> Errors</TMPL_IF>
        </h3>

<TMPL_IF NAME="opt_group_errors">
    <TMPL_INCLUDE NAME="error_loop_grouped.tmpl">
<TMPL_ELSE>
    <TMPL_INCLUDE NAME="error_loop.tmpl">
</TMPL_IF>


  </div>
