  <div id="result">
    <h2 id="results" class="invalid">This page is <strong>not</strong> Valid <TMPL_VAR NAME="file_version" ESCAPE="HTML">!</h2>
<TMPL_IF NAME="is_xml">
    <p>
      Below are the results of checking this document for <a
      href="http://www.w3.org/TR/REC-xml#sec-conformance">XML
      well-formedness</a> and validity.
    </p>
<TMPL_ELSE>
    <p>
      Below are the results of attempting to parse this document with
      an SGML parser.
    </p>
</TMPL_IF>

<TMPL_INCLUDE NAME="error_loop.tmpl">

  </div>
