Content-Type: application/json; charset=UTF-8
X-W3C-Validator-Recursion: <TMPL_VAR NAME="depth" DEFAULT="1"><TMPL_IF NAME="fatal_error">
X-W3C-Validator-Status: Abort<TMPL_ELSE><TMPL_IF NAME="valid_status">
X-W3C-Validator-Status: <TMPL_VAR NAME="valid_status"></TMPL_IF>
X-W3C-Validator-Errors: <TMPL_VAR NAME="valid_errors_num">
X-W3C-Validator-Warnings: <TMPL_VAR NAME="valid_warnings_num"></TMPL_IF>

{
    "url": "<TMPL_VAR NAME="file_uri">",
    "messages": [
        <TMPL_LOOP NAME="file_errors">
          {
              <TMPL_IF NAME="line">"lastLine": <TMPL_VAR NAME="line">,</TMPL_IF>
              <TMPL_IF NAME="char">"lastColumn": <TMPL_VAR NAME="char">,</TMPL_IF>
              "message": <TMPL_VAR NAME="msg">,
              <TMPL_IF NAME="num">"messageid": "<TMPL_VAR NAME="num">",</TMPL_IF>
              <TMPL_IF NAME="expl">"explanation": <TMPL_VAR NAME="expl">,</TMPL_IF>
              <TMPL_IF NAME="src">"extract": <TMPL_VAR NAME="src">,</TMPL_IF>
              "type": <TMPL_IF NAME="err_type_err">"error"<TMPL_ELSE>"info"<TMPL_IF NAME="err_type_warn">,
              "subType": "warning",
              "subtype": "warning"</TMPL_IF></TMPL_IF>
          }<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS>
        </TMPL_LOOP>
        ],
    "source": {
        "encoding": "<TMPL_VAR NAME="file_charset">",
        "type": "<TMPL_VAR NAME="file_contenttype">"
    }
}
