      <p id="skip" class="jumpbar">
        Jump To:
        [<a title="Result of Validation" href="#result">Results</a>]
  <TMPL_IF NAME="opt_show_source">
        [<a title="Listing of Source Input" href="#source">Source Listing</a>]
  </TMPL_IF>
  <TMPL_IF NAME="opt_show_parsetree">
        [<a title="Document Parse Tree" href="#parse">Parse&nbsp;Tree</a>]
  </TMPL_IF>
  <TMPL_IF NAME="opt_show_outline">
        [<a title="Document Outline" href="#outline">Outline</a>]
  </TMPL_IF>
      </p>
