

        <ul class="navbar" id="jumpbar">
                <li><strong>Jump To:</strong></li>
                <TMPL_IF NAME="have_warnings">
                        <li><a href="#preparse_warnings">Notes and Potential Issues</a></li>
                </TMPL_IF>
                <TMPL_IF NAME="has_errors">
          <li><a title="Result of Validation" href="#result">Validation Output</a></li>
          </TMPL_IF>
          <TMPL_IF NAME="VALID">
                  <li><a title="Information on validation, Icons" href="#congrats">Congratulations &middot; Icons</a></li>
</TMPL_IF>
<TMPL_IF NAME="fatal_error">
                  <li><a href="#fatal-errors">Error(s) blocking validation</a></li>
</TMPL_IF>
  <TMPL_IF NAME="opt_show_source">
          <li><a title="Listing of Source Input" href="#source">Source Listing</a></li>
  </TMPL_IF>
  <TMPL_IF NAME="opt_show_tidy"><TMPL_IF NAME="tidy_output">
          <li><a title="Listing of cleaned-up Source Input" href="#tidy">Tidy Source</a></li>
  </TMPL_IF></TMPL_IF>
  <TMPL_IF NAME="opt_show_outline">
          <li><a title="Document Outline" href="#outlineresult">Outline</a></li>
  </TMPL_IF>
        </ul>
