      <div id="skip" class="jumpbar">
        Jump To:
        <ul>
          <li><a title="Result of Validation" href="#result">Results</a></li>
  <TMPL_IF NAME="opt_show_source">
          <li><a title="Listing of Source Input" href="#source">Source Listing</a></li>
  </TMPL_IF>
  <TMPL_IF NAME="opt_show_parsetree">
          <li><a title="Document Parse Tree" href="#parse">Parse&nbsp;Tree</a></li>
  </TMPL_IF>
  <TMPL_IF NAME="opt_show_outline">
          <li><a title="Document Outline" href="#outline">Outline</a></li>
  </TMPL_IF>
        </ul>
      </div>
