  <div id="tidy">
    <h3>Cleaned-up Source Listing with "HTML-Tidy"</h3>

    <p>Below is the <em>cleaned up</em> markup for your document, 
    as processed through
    <a href="http://search.cpan.org/dist/HTML-Tidy/">HTML-Tidy</a>.</p>
    <p>HTML-Tidy is a third-party software not developed at W3C,
       and its output is <em>provided without any guarantee</em>.</p>
    <pre class="source"><TMPL_VAR NAME="tidy_output" ESCAPE="HTML"></pre>

    <TMPL_INCLUDE NAME="backtop.tmpl">

  </div>
