  <div id="tidy">
    <h3>Cleaned-up Source Listing</h3>

    <p>Below is the <em>cleaned up</em> markup for your document, 
    as processed through <a href="http://tidy.sourceforge.net/">HTML Tidy</a>.</p>
    <p>The automatic clean-up is not guaranteed to make your markup valid or semantically
      correct, but should generally be helpful.</p>
    <pre class="source">
    <TMPL_VAR NAME="tidy_output" ESCAPE="HTML">
    </pre>

    <TMPL_INCLUDE NAME="backtop.tmpl">

  </div>
