  <div id="parse">
    <h2>Parse Tree</h2>
    <p class="note">
<TMPL_IF NAME="file_parsetree_noatt">
      I am excluding the attributes, as you requested.
<TMPL_ELSE>
      You can also view this parse tree without attributes by selecting the
      appropriate option on <a href="#form">the form</a>.
</TMPL_IF>
    </p>
    <pre>
<TMPL_VAR NAME="file_parsetree">
    </pre>
  </div>
