<select id="doctype" name="doctype">
  <option value="Inline">(detect automatically)</option>
  <option value="HTML5"<TMPL_IF NAME="override doctype HTML5">selected="selected"</TMPL_IF>>HTML5 (experimental)</option>
  <option value="XHTML 1.0 Strict"<TMPL_IF NAME="override doctype XHTML 1.0 Strict">selected="selected"</TMPL_IF>>XHTML 1.0 Strict</option>
  <option value="XHTML 1.0 Transitional" <TMPL_IF NAME="override doctype XHTML 1.0 Transitional">selected="selected"</TMPL_IF>>XHTML 1.0 Transitional</option>
  <option value="XHTML 1.0 Frameset" <TMPL_IF NAME="override doctype XHTML 1.0 Frameset">selected="selected"</TMPL_IF>>XHTML 1.0 Frameset</option>
  <option value="HTML 4.01 Strict" <TMPL_IF NAME="override doctype HTML 4.01 Strict">selected="selected"</TMPL_IF>>HTML 4.01 Strict</option>
  <option value="HTML 4.01 Transitional" <TMPL_IF NAME="override doctype HTML 4.01 Transitional">selected="selected"</TMPL_IF>>HTML 4.01 Transitional</option>
  <option value="HTML 4.01 Frameset" <TMPL_IF NAME="override doctype HTML 4.01 Frameset">selected="selected"</TMPL_IF>>HTML 4.01 Frameset</option>
  <option value="HTML 4.01 + RDFa 1.1" <TMPL_IF NAME="override doctype HTML 4.01 + RDFa 1.1 Frameset">selected="selected"</TMPL_IF>>HTML 4.01 + RDFa 1.1</option>
  <option value="HTML 3.2" <TMPL_IF NAME="override doctype HTML 3.2">selected="selected"</TMPL_IF>>HTML 3.2</option>
  <option value="HTML 2.0" <TMPL_IF NAME="override doctype HTML 2.0">selected="selected"</TMPL_IF>>HTML 2.0</option>
  <option value="ISO/IEC 15445:2000 (&quot;ISO HTML&quot;)" <TMPL_IF NAME='override doctype ISO/IEC 15445:2000 ("ISO HTML")'>selected="selected"</TMPL_IF>>ISO/IEC 15445:2000 ("ISO HTML")</option>
  <option value="XHTML 1.1" <TMPL_IF NAME="override doctype XHTML 1.1">selected="selected"</TMPL_IF>>XHTML 1.1</option>
  <option value="XHTML + RDFa" <TMPL_IF NAME="override doctype XHTML + RDFa">selected="selected"</TMPL_IF>>XHTML + RDFa</option>
  <option value="XHTML Basic 1.0" <TMPL_IF NAME="override doctype XHTML Basic 1.0">selected="selected"</TMPL_IF>>XHTML Basic 1.0</option>
  <option value="XHTML Basic 1.1" <TMPL_IF NAME="override doctype XHTML Basic 1.1">selected="selected"</TMPL_IF>>XHTML Basic 1.1</option>
  <option value="XHTML Mobile Profile 1.2" <TMPL_IF NAME="override doctype XHTML Mobile Profile 1.2">selected="selected"</TMPL_IF>>XHTML Mobile Profile 1.2</option>
  <option value="XHTML-Print 1.0" <TMPL_IF NAME="override doctype XHTML-Print 1.0">selected="selected"</TMPL_IF>>XHTML-Print 1.0</option>
  <option value="XHTML 1.1 plus MathML 2.0" <TMPL_IF NAME="override doctype XHTML 1.1 plus MathML 2.0">selected="selected"</TMPL_IF>>XHTML 1.1 plus MathML 2.0</option> 
  <option value="XHTML 1.1 plus MathML 2.0 plus SVG 1.1" <TMPL_IF NAME="override doctype XHTML 1.1 plus MathML 2.0 plus SVG 1.1">selected="selected"</TMPL_IF>>XHTML 1.1 plus MathML 2.0 plus SVG 1.1</option> 
  <option value="MathML 2.0" <TMPL_IF NAME="override doctype MathML 2.0">selected="selected"</TMPL_IF>>MathML 2.0</option>
  <option value="SVG 1.0" <TMPL_IF NAME="override doctype SVG 1.0">selected="selected"</TMPL_IF>>SVG 1.0</option>
  <option value="SVG 1.1" <TMPL_IF NAME="override doctype SVG 1.1">selected="selected"</TMPL_IF>>SVG 1.1</option>
  <option value="SVG 1.1 Tiny" <TMPL_IF NAME="override doctype SVG 1.1 Tiny">selected="selected"</TMPL_IF>>SVG 1.1 Tiny</option>
  <option value="SVG 1.1 Basic" <TMPL_IF NAME="override doctype SVG 1.1 Basic">selected="selected"</TMPL_IF>>SVG 1.1 Basic</option>
  <option value="SMIL 1.0" <TMPL_IF NAME="override doctype SMIL 1.0">selected="selected"</TMPL_IF>>SMIL 1.0</option>
  <option value="SMIL 2.0" <TMPL_IF NAME="override doctype SMIL 2.0">selected="selected"</TMPL_IF>>SMIL 2.0</option>
</select>
