<TMPL_IF NAME="file_uri">
<form id="form" method="get" action="check">
  <table class="header">
    <tr>
<TMPL_IF NAME="is_upload">
      <th>File:</th><td colspan="2"><TMPL_VAR NAME="file_uri"></td>
<TMPL_ELSE>
      <th><label title="Address of Page to Validate (accesskey: 1)" for="uri">Address</label>:</th>
      <td colspan="2"><input accesskey="1" type="text" id="uri" name="uri" value="<TMPL_VAR NAME="file_uri">" /></td>
</TMPL_IF>
    </tr>
<TMPL_IF NAME="opt_verbose">
    <tr><th>Modified:</th><td colspan="2"><TMPL_VAR NAME="file_modified"></td></tr>
    <tr><th>Server:</th><td colspan="2"><TMPL_VAR NAME="file_server"></td></tr>
    <tr><th>Size:</th><td colspan="2"><TMPL_VAR NAME="file_size"></td></tr>
    <tr><th>Content-Type:</th><td colspan="2"><TMPL_VAR NAME="file_contenttype"></td></tr>
</TMPL_IF>
<TMPL_IF NAME="opt_debug">
  <TMPL_LOOP NAME="debug">
    <tr><th><TMPL_VAR NAME="name"></th><td colspan="2"><TMPL_VAR NAME="value"></td></tr>
  </TMPL_LOOP>
</TMPL_IF>
<TMPL_IF NAME="is_upload">
    <tr><th>Encoding:</th><td colspan="2"><TMPL_VAR NAME="file_charset"></td></tr>
    <tr><th>Doctype:</th><td colspan="2"><TMPL_VAR NAME="file_version"></td></tr>
<TMPL_ELSE>
  <TMPL_IF NAME="file_charset">
    <tr>
      <th><label accesskey="2" title="Character Encoding (accesskey: 2)" for="charset">Encoding</label>:</th>
      <td><TMPL_VAR NAME="file_charset"></td><td><TMPL_INCLUDE NAME="popup_charset.tmpl"></td>
    </tr>
  <TMPL_ELSE>
    <tr><th>Encoding:</th><td colspan="2"><TMPL_INCLUDE NAME="popup_charset.tmpl"></td></tr>
  </TMPL_IF>
  <TMPL_IF NAME="file_version">
    <tr>
      <th><label accesskey="3" for="doctype" title="Document Type (accesskey: 3)">Doctype</label>:</th>
      <td><TMPL_VAR NAME="file_version"></td><td><TMPL_INCLUDE NAME="popup_doctype.tmpl"></td>
    </tr>
  <TMPL_ELSE>
    <tr><th>Doctype:</th><td colspan="2"><TMPL_INCLUDE NAME="popup_doctype.tmpl"></td></tr>
  </TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME="file_namespace">
    <tr>
      <th>Root Namespace:</th>
      <td colspan="2"><a href="<TMPL_VAR NAME="file_namespace">"><TMPL_VAR NAME="file_namespace"></a></td>
    </tr>
</TMPL_IF>
<TMPL_IF NAME="file_namespaces">
    <tr>
      <th>Other Namespaces</th>
      <td colspan="2">
        <ul>
          <TMPL_LOOP NAME="file_namespaces"><li><a href="<TMPL_VAR NAME="uri">"><TMPL_VAR NAME="uri"></a></li></TMPL_LOOP>
        </ul>
      </td>
    </tr>
</TMPL_IF>
  </table>
<TMPL_UNLESS NAME="is_upload">
  <fieldset>
    <legend accesskey="4">Revalidate With Options</legend>
    <table class="header">
      <tr>
        <th><input type="submit" value="Revalidate" accesskey="9" title="Revalidate file (accesskey: 9)" />: </th>
        <td colspan="2">
          <table class="options">
            <tr>
              <td><label title="Show Page Source (accesskey: 5)" for="ss"><input type="checkbox" value="1" id="ss" name="ss" accesskey="5"
<TMPL_IF NAME="opt_show_source">
	checked="checked"
</TMPL_IF>
		/>Show&nbsp;Source</label></td>
              <td><label title="Show an Outline of the document (accesskey: 6)" for="outline"><input type="checkbox" value="1" id="outline" name="outline" accesskey="6"
<TMPL_IF NAME="opt_show_outline">
	checked="checked"
</TMPL_IF>
		/>Show&nbsp;Outline</label></td>
            </tr>
            <tr>
              <td><label title="Show Parse Tree (accesskey: 7)" for="sp"><input type="checkbox" value="1" id="sp" name="sp" accesskey="7"
<TMPL_IF NAME="opt_show_parsetree">
	checked="checked"
</TMPL_IF>
		/>Show&nbsp;Parse&nbsp;Tree</label></td>
              <td><label title="Exclude Attributes from Parse Tree (accesskey: 8)" for="noatt"><input type="checkbox" value="1" id="noatt" name="noatt" accesskey="8"
<TMPL_IF NAME="opt_show_noatt">
	checked="checked"
</TMPL_IF>
		/>...no&nbsp;attributes</label></td>
            </tr>
            <tr>
              <td><label title="Validate also pages for which the HTTP status code indicates an error" for="No200"><input type="checkbox" value="1" id="No200" name="No200"
<TMPL_IF NAME="opt_no200">
	checked="checked"
</TMPL_IF>
		/>Validate&nbsp;error&nbsp;pages</label></td>
              <td><label title="Show Verbose Output" for="verbose"><input type="checkbox" value="1" id="verbose" name="verbose"
<TMPL_IF NAME="opt_verbose">
	checked="checked"
</TMPL_IF>
		/>Verbose&nbsp;Output</label></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </fieldset>
</TMPL_UNLESS>
</form>
      <div class="moreinfo">
        <p>
          <a href="docs/users.html#Options">Help</a> on the options is available.
        </p>
      </div>
      <div class="cheat"><!-- *sigh* --></div>
      </fieldset>
</TMPL_IF>
