<TMPL_IF NAME="W01">
  <warning><message>Missing "charset" attribute for
    "<TMPL_VAR NAME="W01_ct" ESCAPE="HTML">" document.</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W02">
  <warning><message>No Character Encoding Found!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W03">
  <warning><message>Character Encoding Override in effect!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W04">
  <warning><message>No Character Encoding Found!
    <TMPL_IF NAME="W04_override">
      Using
    <TMPL_ELSE>
      Falling back to 
    </TMPL_IF>
    <TMPL_IF NAME="W04_charset"><TMPL_VAR NAME="W04_charset" ESCAPE="HTML"><TMPL_ELSE>UTF-8</TMPL_IF>.
  </message></warning>
</TMPL_IF>
<TMPL_IF NAME="W05">
  <warning><message>DOCTYPE Override in effect!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W06">
  <warning><message>Unable to Determine Parse Mode!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W07">
  <warning><message>Contradictory Parse Modes Detected!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W08">
  <warning><message>Unknown Parse Mode!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W09">
  <warning><message>No DOCTYPE found! Attempting validation with <TMPL_VAR NAME="W09_dtd" ESCAPE="HTML">.</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W09xml">
  <warning><message>No DOCTYPE found! Checking XML syntax only.</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W10">
  <warning><message>Unknown Namespace Found</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W11">
  <warning><message>Namespace Found in non-XML Document</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W12">
  <warning><message>No Namespace Found</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W13">
  <warning><message>DOCTYPE Override in effect!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W14">
  <warning><message>No DOCTYPE Found!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W15">
  <warning><message>DOCTYPE Override in effect!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W16">
  <warning><message>No DOCTYPE Found! Falling Back to
    <TMPL_VAR NAME="W16_dtd" ESCAPE="HTML">.</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W17">
  <warning><message>No Character Encoding detected!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W18">
  <warning><message>Character Encoding mismatch!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W19">
  <warning><message>Character Encoding mismatch!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W20">
  <warning><message>Character Encoding mismatch!</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W21">
  <warning><message>Byte-Order Mark found in UTF-8 File.</message></warning>
</TMPL_IF>
<TMPL_IF NAME="W22">
<warning><message>Character Encoding suggestion: use 
<TMPL_VAR NAME="W22_suggested" ESCAPE="HTML"> instead of <TMPL_VAR NAME="W22_declared" ESCAPE="HTML"></warning></message>
</TMPL_IF>
<TMPL_IF NAME="W23">
  <warning><message>Rare or unregistered Character Encoding detected</message></warning>
</TMPL_IF>

<TMPL_IF NAME="W@@">
  <warning><message></message></warning>
</TMPL_IF>

