<div id="result">

        <TMPL_IF NAME="have_warnings">
          <TMPL_INCLUDE NAME="warnings.tmpl">
        </TMPL_IF>

<TMPL_IF NAME="has_errors">
<h3 id="warning_loop">Validation Output<TMPL_IF NAME="number_of_warnings_is_1">: 1 Warning</TMPL_IF><TMPL_IF NAME="number_of_warnings_is_plural">: <TMPL_VAR NAME="valid_warnings_num" ESCAPE="HTML"> Warnings</TMPL_IF>
        </h3>
    <p>
      Below is a list of the warning message(s) produced when checking your document.
    </p>
    <TMPL_IF NAME="opt_group_errors">
        <TMPL_INCLUDE NAME="error_loop_grouped.tmpl">
    <TMPL_ELSE>
        <TMPL_INCLUDE NAME="error_loop.tmpl">
    </TMPL_IF>
</TMPL_IF>

<h3 id="congrats">Congratulations</h3>
  <p>
<TMPL_IF NAME="is_upload">
    The uploaded document "<TMPL_VAR NAME="file_uri" ESCAPE="HTML">"
<TMPL_ELSE>
  <TMPL_IF NAME="is_direct_input">
    The uploaded document
  <TMPL_ELSE>
    The document located at
    &lt;<a href="<TMPL_VAR NAME="file_uri" ESCAPE="HTML">"><TMPL_VAR NAME="file_uri" ESCAPE="HTML"></a>&gt;
  </TMPL_IF>  
</TMPL_IF>
<TMPL_IF NAME="is_tentative">
    was <em>tentatively</em> checked as <TMPL_VAR NAME="file_version" ESCAPE="HTML">.
    This means that with the use of some fallback or override mechanism, 
    we successfully performed a formal validation of it.
    In other words, the document would validate as
    <TMPL_VAR NAME="file_version" ESCAPE="HTML"> if you changed the markup
    to match the changes we have performed automatically, but 
    <strong>it will not be valid until you make these changes</strong>.
<TMPL_ELSE>
    was successfully checked as 
    <TMPL_IF NAME="xmlwf_only">well-formed</TMPL_IF>
    <TMPL_VAR NAME="file_version" ESCAPE="HTML">.  
    <TMPL_IF NAME="xmlwf_only">This means that we were not able to determine 
    the exact document type, but that the document passed the XML well-formedness
    syntax check. If you wish to wish to perform formal validation of the document,
    you can use the "Document Type:" option of the validator.
    <TMPL_ELSE>
    This means that the resource in question identified itself as
    "<TMPL_VAR NAME="file_version" ESCAPE="HTML">" and that we successfully
    performed a formal validation of it.
    </TMPL_IF>
</TMPL_IF>
    The parser implementations we used for this check are based on
    <TMPL_LOOP NAME="parsers">
    <TMPL_UNLESS NAME="__first__"><TMPL_IF NAME="__last__">and </TMPL_IF></TMPL_UNLESS>
    <a href="<TMPL_VAR NAME="link" ESCAPE="HTML">"><TMPL_VAR NAME="name" ESCAPE="HTML"></a><TMPL_IF NAME="type"> (<TMPL_VAR NAME="type" ESCAPE="HTML">)</TMPL_IF><TMPL_IF NAME="__inner__">,</TMPL_IF><TMPL_IF NAME="__last__">.</TMPL_IF>
    </TMPL_LOOP>
  </p>
<TMPL_IF NAME="badge_uri">
<h4>"valid" Icon(s) on your Web page</h4>
  <p>
    To show your readers that you have taken the care to create an
    interoperable Web page, you may display this icon on any page
    that validates. Here is the HTML you could use to add this icon
    to your Web page:
  </p>
  <img
    class="inline-badge" src="<TMPL_IF NAME="local_badge_uri"><TMPL_VAR NAME="local_badge_uri" ESCAPE="HTML"><TMPL_ELSE><TMPL_VAR NAME="badge_uri" ESCAPE="HTML"></TMPL_IF>"
    alt="<TMPL_VAR NAME="badge_alt" ESCAPE="HTML">"
    <TMPL_IF NAME="badge_h">height="<TMPL_VAR NAME="badge_h">"</TMPL_IF>
    <TMPL_IF NAME="badge_w">width="<TMPL_VAR NAME="badge_w">"</TMPL_IF>
     /> <pre class="badgeSnippet">
  &lt;p<TMPL_IF NAME="badge_rdfa"> about=""
     resource="<TMPL_VAR NAME="badge_rdfa">"
     rel="dc:conformsTo" xmlns:dc="http://purl.org/dc/terms/"</TMPL_IF>&gt;
    &lt;a href="<TMPL_VAR NAME="env_home_page" ESCAPE="HTML">check?uri=referer"<TMPL_IF NAME="badge_onclick">
      <TMPL_VAR NAME="badge_onclick">="this.href=this.href.replace(/referer$/,encodeURIComponent(document.URL))"</TMPL_IF>&gt;&lt;img
      src="<TMPL_VAR NAME="badge_uri" ESCAPE="HTML">"<TMPL_IF NAME="badge_alt"> alt="<TMPL_VAR NAME="badge_alt" ESCAPE="HTML">"</TMPL_IF><TMPL_IF NAME="badge_h"> height="<TMPL_VAR NAME="badge_h">"</TMPL_IF><TMPL_IF NAME="badge_w"> width="<TMPL_VAR NAME="badge_w">"</TMPL_IF><TMPL_VAR NAME="badge_tagc">&gt;&lt;/a&gt;
  &lt;/p&gt;
  </pre>
  <TMPL_IF NAME="badge_alt_uri">
  <img
    class="inline-badge" src="<TMPL_IF NAME="local_alt_badge_uri"><TMPL_VAR NAME="local_alt_badge_uri" ESCAPE="HTML"><TMPL_ELSE><TMPL_VAR NAME="badge_alt_uri" ESCAPE="HTML"></TMPL_IF>"
    alt="<TMPL_VAR NAME="badge_alt" ESCAPE="HTML">"
    <TMPL_IF NAME="badge_h">height="<TMPL_VAR NAME="badge_h">"</TMPL_IF>
    <TMPL_IF NAME="badge_w">width="<TMPL_VAR NAME="badge_w">"</TMPL_IF>
     /> <pre class="badgeSnippet">
  &lt;p<TMPL_IF NAME="badge_rdfa"> about=""
     resource="<TMPL_VAR NAME="badge_rdfa">"
     rel="dc:conformsTo" xmlns:dc="http://purl.org/dc/terms/"</TMPL_IF>&gt;
    &lt;a href="<TMPL_VAR NAME="env_home_page" ESCAPE="HTML">check?uri=referer"<TMPL_IF NAME="badge_onclick">
      <TMPL_VAR NAME="badge_onclick">="this.href=this.href.replace(/referer$/,encodeURIComponent(document.URL))"</TMPL_IF><&gt;&lt;img
      src="<TMPL_VAR NAME="badge_alt_uri" ESCAPE="HTML">"<TMPL_IF NAME="badge_alt"> alt="<TMPL_VAR NAME="badge_alt" ESCAPE="HTML">"</TMPL_IF><TMPL_IF NAME="badge_h"> height="<TMPL_VAR NAME="badge_h">"</TMPL_IF><TMPL_IF NAME="badge_w"> width="<TMPL_VAR NAME="badge_w">"</TMPL_IF><TMPL_VAR NAME="badge_tagc">&gt;&lt;/a&gt;
  &lt;/p&gt;
  </pre>
  </TMPL_IF>
  <p>A <a href="http://www.w3.org/QA/Tools/Icons">full list</a> of icons, with links to alternate formats and colors, is available: 
    If you like, you can download a copy of the icons
    to keep in your local web directory, and change the HTML fragment
    above to reference your local image rather than the one on this server.
  <TMPL_IF NAME="file_https_note">
    See also our help items related to documents transferred over secure
    protocols for these <a href="docs/help.html#icon-https">icons</a> and
    the <a href="docs/help.html#faq-referer">"uri=referer" feature</a>.
  </TMPL_IF>
  </p>
</TMPL_IF>
<TMPL_UNLESS NAME="is_upload">
  <TMPL_UNLESS NAME="is_direct_input">
<h4>Linking to this result</h4>
  <p>
    If you would like to create a link to <em>this</em> page (i.e., this
    validation result) to make it easier to revalidate this page in the
    future or to allow others to validate your page, the URI is
    &lt;<a href="<TMPL_VAR NAME="file_thispage" ESCAPE="HTML">"><TMPL_VAR NAME="file_thispage" ESCAPE="HTML"></a>&gt;
    (or you can just add the current page to your bookmarks or hotlist).
  </p>
  </TMPL_UNLESS>
</TMPL_UNLESS>
<h4>Validating CSS Style Sheets</h4>
  <p>
    If you use <a href="http://www.w3.org/Style/CSS/">CSS</a> in your document,
    you can 
<TMPL_IF NAME="is_upload">
    check it 
<TMPL_ELSE>
  <TMPL_IF NAME="is_direct_input">
check it
  <TMPL_ELSE>
    <a title="Validate CSS at the W3C CSS Validator"
    href="http://jigsaw.w3.org/css-validator/validator?uri=<TMPL_VAR NAME="file_uri" ESCAPE="URL">">check
    it</a>
  </TMPL_IF>
</TMPL_IF>
    using the W3C
    <a href="http://jigsaw.w3.org/css-validator/">CSS Validation Service</a>.
  </p>


<TMPL_INCLUDE NAME="backtop.tmpl">

</div><!-- end of "result" -->
