/*!
   Base Style Sheet for the W3C Markup Validation Service.

   Copyright 2000-2006 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright
*/

/* @group Reset */

html,
body,
form,
fieldset,
p,
a,
ul,
ol,
li,
div,
legend,
label,
br,
input,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
strong {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: Helvetica, Arial, Sans-Serif;
	vertical-align: baseline;
	background-color: white;
	color: #1f2126;
	line-height: 1;
	text-align: left;
}

a img {
	border: 0;
}

a:link,
a:visited {
	text-decoration: underline;
	color: #365d95;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #1f2126;
}

ul,
ol {
	list-style: none;
}

abbr[title],
acronym[title],
span[title],
strong[title] {
	border-bottom: thin dotted;
	cursor: help;
}

acronym:hover,
abbr:hover {
	cursor: help;
}
/* @end */

/* @group Basics */

body {
	padding-bottom: 6em;
	min-width: 40em;	/* for the tabs, mostly */
}

p {
	line-height: 130%;
}

strong {
	font-weight: bold;
}

h2 {
	color: #690;
	font-family: Verdana, Arial, sans-serif;
	background-color: white;
	font-size: 1.3em;
	margin-bottom: 1em;
}

h3 {
	font-family: Verdana, Arial, sans-serif;
	color: #690;
	background-color: white;
	font-size: 1.1em;
	border-bottom: 1px dotted #aaaa77;
	text-decoration: none;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font-family: Verdana, Arial, sans-serif;
	color: #690;
	font-style: italic;
	text-decoration: none;
	font-size: .9em;
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

h5,
h6 {
	font-family: Verdana, Arial, sans-serif;
	color: #690;
	background-color: white;
	font-weight: normal;
	font-size: small;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: .7em;
}

/* tables in the documentation */

th {
	padding: 6px;
}
/* @end */


/* @group Inputs */

#frontforms input {
	/* default for radio and checkbox. Others will be handled directly */
	background-color: #eaebee;
}

#uri,
#file,
#uploaded_file,
#keywords,
#short_desc,
textarea {
	font-family: Monaco, "Courier New", Monospace;
	font-size: 0.9em;
	border-top: 1px solid #777;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #bbb;
	padding: 0.2em 0.2em;
	max-width: 1000px;
	font-variant: normal;
	background-color: #fff !important;
	-webkit-box-shadow: inset 1px 0 2px 0 #c0c0c0;
	-moz-box-shadow: inset 1px 0 2px 0 #c0c0c0;
	box-shadow: inset 1px 0 2px 0 #c0c0c0;
}

#uri,
#file,
#uploaded_file {
	width: 85%;
	margin: 0.3em 0 0 1em;
}

#file,
#uploaded_file {
	width: 30em;
}

#mailsearch,
#bugsearch {
	background-color: #eaebee;
	color: #365d95;
	padding: .3em 1em;
	border: 1px outset #ccc;
}

#mailsearch:active,
#bugsearch:active {
	border-style: inset !important;
}
a.submit,
p.submit_button input {
	display: block;
	width: 8em;
	text-align: center;
	margin: 10px auto;
	padding: 0 12px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	-webkit-box-shadow: 0 0 2px #86888e;
	-moz-box-shadow: 0 0 2px #86888e;
	box-shadow: 0 0 2px #86888e;
	color: #365d95;
	font-size: 16px;
	background-color: #e0e0e2;
	border: solid #86888e 1px;
	text-decoration: none;
	line-height: 32px;
	cursor: pointer;
}

a.submit:active,
a.submit:hover,
p.submit_button input:active,
p.submit_button input:hover {
	color: #1f2126;
	text-decoration: none;
}

textarea {
	width: 98.5%;
}

label {
	font-size: 0.9em;
	padding-left: .2em;
	padding-right: .2em;
}

div.options select {
	margin-right: 0.8em;
}

div.options label {
	margin-right: 0.3em;
}


div.options table,
div.options tbody,
div.options td,
div.options th,
div.options tr {
	margin: 0;
	padding: 0;
}

div.options table {
	border-collapse: collapse;
}

div.options th,
div.options th label {
	font-weight: bold;
}

div.options td,
div.options th {
	padding: 0.5em 1.1em 0.5em 0;
	text-align: left;
}

div.options td input {
	margin-right: 0.2em;
}

div.options select {
	width: 100%;
}

div.options table tr.subchoice th {
	padding-left: 3em;
}
tr.subchoice th label {
	padding-left: 0;
}
tr.subchoice th,
tr.subchoice th label {
	font-size: 1em;
	font-weight: normal;
}
/* @end */

/* @group Header */

#title {
	font-family: "Myriad Web", "Myriad Pro", "Gill Sans", Helvetica, Arial, Sans-Serif;
	background-color: inherit;
	color: #fdfdfd;
	font-size: 1.6em;
	padding-bottom: 0.430em;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#title a,
#title a img {
	background-color: inherit;
}

h1 span {
	border-bottom: 1px solid #6383b1;
	border-color: #4e6f9e;
}

#title a:link,
#title a:hover,
#title a:visited,
#title a:active {
	color: #fdfdfd !important;
	text-decoration: none;
}

#title img {
	vertical-align: middle;
	margin-right: 0.7em;
}

#banner {
	background-color: #365d95;
	margin: 1.5em 2em;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#tagline {
	font-size: 0.7em;
	margin: -2em 0 0 12.1em;
	padding-bottom: 1em;
	letter-spacing: 0.1em;
	line-height: 100% !important;
	color: #d0dcee;
	background-color: transparent;
}

#lang_choice {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.7em;
	padding: 0.8em 0;
	margin-right: 3.3em;
}

#lang_choice a:link,
#lang_choice a:visited {
	text-decoration: none;
}

#lang_choice a:hover,
#lang_choice a:active {
	text-decoration: underline;
}

#lang_choice li {
	display: inline;
	padding-left: 0.5em;
}
/* @end */

/* @group Tabs */

#tabset_tabs {
	height: 1.59em;
}

#tabset_tabs li {
	cursor: pointer;
	float: left;
	margin-right: 0.245em;
	background-color: #dadde3;
	border-bottom: 1px solid #cbd0db;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#tabset_tabs li.selected {
	background-color: #eaebee;
	border-bottom: 1px solid #eaebee;
}

#tabset_tabs li.selected a:link,
#tabset_tabs li.selected a:visited {
	color: #1f2126;
	background-color: #eaebee;
}

#tabset_tabs li span {
	color: #616571;
}

#tabset_tabs li.selected a span {
	color: #3d424f;
}

#tabset_tabs li a:link,
#tabset_tabs li a:visited {
	color: #365d95;
	display: block;
	padding: 0.515em 1.3em 0.215em 0.8em;
	background-color: #dadde3;
	margin-left: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#tabset_tabs li a:hover,
#tabset_tabs li a:active {
	color: #1f2126;
}

#tabset_tabs li a:hover span,
#tabset_tabs li a:active span {
	color: #3d424f;
}

#tabset_tabs li.selected span {
	color: #5d6371;
}
/* @end */

/* @group Contents */

#frontforms {
	background: #fff;
	padding: 0 2em;
}

#fields {
	clear: both;
	background-color: #eaebee;
	padding: 0.5em 1.3em;
	border-bottom: 1px solid #dcdde0;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#fields legend,
#fields p,
#fields p strong,
#fields p a,
#fields fieldset,
#fields form,
#fields form fieldset legend a,
#fields form p label,
#fields tr label {
	background-color: #eaebee;
}

fieldset {
	background: #eaebee;
}

legend {
	font-size: 1.1em;
	padding: 1em 0 0.23em;
	letter-spacing: 0.06em;
}

legend a:link,
legend a:visited,
legend a:hover,
legend a:active {
	text-decoration: none;
}

.toggletext {
	cursor: pointer;
	padding-left: 0.2em;
}
.toggletext > a {
	padding-bottom: 2px;
}

.toggletext > a:before {
	display: inline-block;
	content: '';
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
	margin-right: 6px;

}
.toggletext.toggled > a:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggletext.toggled {
	padding-bottom: 4px;
}

p.instructions {
	color: #4d525e;
	font-size: 0.80em;
	padding-bottom: 1em;
	padding-top: 0.5em;
}

p.instructions label {
	color: #4d525e;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

div.options {
	padding: 0.7em 0 0.5em 1em;
}

div.options,
p.submit_button,
p.instructions,
#note {
	border-top: 1px solid #cbcdd5;
	background: #eaebee url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAAAAADRSSBWAAAAC0lEQVR4AWP4+hUAAuIB6zPTZB8AAAAASUVORK5CYII=') left top repeat-x;
}

p.submit_button {
	padding: 0.6em 0 0;
	margin: 0;
	text-align: center;
}

#note {
	clear: both;
	color: #4d525e;
	font-size: 0.9em;
	padding: 0.5em 0 0.1em;
}
/* @end */


/* @group Menu */

#menu {
	text-align: center;
	margin: 1em 2em;
	background-color: #eaebee;
	padding: 0.5em 0 0.3em;
	border-top: 1px solid #dcdde0;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#menu span {
	display: none;
}

#menu a:link,
#menu a:visited {
	background: #eaebee;
	color: #365d95;
	text-decoration: none;
}

#menu a:hover,
#menu a:active {
	color: #1f2126;
	text-decoration: underline;
}

#menu li {
	display: inline;
	margin-right: 0.8em;
}
/* @end */

/* @group Footer */

#footer {
	padding: 0 2em;
}

#activity_logos {
	float: left;
	padding-right: 2em;
	margin-top: .6em;
}

#support_logo {
	float: right;
	font-size: 0.8em;
	text-align: center;
	padding-left: 2em;
	padding-top: 1.8em;
	width: 90px;
	height: 100px;
}

p.copyright {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1.4;
}

p.copyright,
p.copyright a {
	text-decoration: none;
	color: #7c8395;
}

p.copyright a:link,
p.copyright a:visited {
	color: #a3756e;
}

p.copyright a:hover,
p.copyright a:active {
	color: #7d4a42;
}

#version_info {
	font-size: small;
	text-align: center;
	color: #888;
	background-color: white;
}
/* @end */


/* @group Docs */

div.doc {
	margin: 1em 2em;
	padding: 0.5em 0 0.3em;
}

/* Set line height to 1.4x (from 1.3x on general site) to allow for various inline decoration. */
div.doc p,
div.doc li {
	line-height: 150% !important;
}
div.doc p {
	margin-bottom: .7em;
	margin-top: .5em;
}

div.doc p,
div.doc dt,
div.doc ul,
div.doc ol {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

div.doc ul li {
	list-style-type: disc;
	margin-left: 1em;
}

/* documentation - table of contents */
#toc {
	margin-left: 40px;
}

div.doc #toc ol,
div.doc ol {
	list-style-type: decimal;
}
div.doc #toc ol li {
	line-height: 130%;
	font-weight: bold;
}
div.doc #toc ol li ol {
	list-style-type: lower-alpha;
	font-weight: normal;
	margin-left: 1em;
}
div.doc #toc ol li ol li ol {
	list-style-type: lower-roman;
}


/* documentation - error explanations */
#expl dt code {
	/* headings for an error */
	white-space: normal;
	font-weight: bold;
}

#expl dt {
	border-top: 1px dashed black;
	margin-top: 2em;
	margin-bottom: 1em;
}

div.doc dt {
	margin-top: 1.2em;
	margin-bottom: .2em;
}
div.doc dt,
div.doc dt a {
	font-style: italic;
}
div.doc dd {
	margin-right: 0;	/* no need for the extra margin if we nicely put the text of the dd in a paragraph */
}
div.doc var {
	/* headings for an error */
	color: #006;
}

/* A snippet of code used inline. */
div.doc code {
	white-space: normal;
	display: inline;
	padding-left: .2em;
	padding-right: .2em;
	color: black;
	font-family: Monaco, "Courier New", monospace;
	border: 1px dotted #ccc;
}

div.doc code.block {
	display: block;
	padding: 1em;
	white-space: pre;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 3em;
}

div.doc pre {
	margin-left: 5em;
	padding-left: 2em;
	line-height: 150%;
	border-left: 1px solid #690;
}

div.doc code samp {
	font-weight: normal;
	color: black;
	font-style: italic;
}

/* reference tables */

div.doc table {
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}
div.doc table td,
.doc table th {
	border-top: 0 solid #ddd;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	padding: 6px;
	border-collapse: collapse;
}
div.doc table th {
	background-color: #eee;
	color: #11111a;
	border-right: 1px solid #ccc;
}

div.doc table {
	margin-top: 1em;
	margin-bottom: .5em;
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}

div.doc td,
div.doc th {
	border-top: 0 solid #ddd;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	border-collapse: collapse;
}
div.doc th {
	background-color: #eee;
	color: #11111a;
	border-right: 1px solid #ccc;
}
/* @end */


/* @group home page, news text */

div.intro {
	margin: 1em 2em;
	padding: 0.5em 0 0.3em;
}

div.intro p {
	margin-bottom: .5em;
}

#news dt {
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: .3em;
}

#news dd {
	margin-left: 2.5em;
	margin-right: 1.5em;
}


/* warning on the home page for test instances */
#test_warning {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	line-height: 160%;
	text-align: center;
	margin-top: 2em;
	margin-left: 12%;
	margin-right: 12%;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: black;
	background-color: white;
}

#test_warning img {
	width: 1.3em;
	vertical-align: middle;
}

.html5_logo_32 {
	float: left;
	padding-top: 8px;
	padding-right: 20px;
	padding-left: 28px;
}

.html5_logo_128 {
	float: left;
	padding-top: 9px;
	padding-right: 20px;
	padding-left: 18px;
}

/* @end */
