/*!
   Results Style Sheet for the W3C Markup Validation Service.

   Copyright 1999-2013 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright
*/

#results_container {
	margin: 2em;
}
#results_container ul li {
	list-style-type: disc;
	margin-left: 1em;
}
#results_container ul {
	margin-left: 1.5em;
	margin-right: 1.5em;
}


#results_container ul.navbar {
	border-top: 1px solid #dcdde0;
	border-bottom: 1px solid #dcdde0;
	text-align: center;
	margin: 0 0 2em 0;
	padding: .5em;
}
#results_container ul.navbar span {
	display: none;
}

#results_container ul.navbar a:link,
#results_container ul.navbar a:visited {
	color: #365D95;
	text-decoration: none;
	margin-right: 1em;
	margin-left: 1em;
}

#results_container ul.navbar a:hover,
#results_container ul.navbar a:active {
	color: #1f2126;
	text-decoration: underline;
	margin-right: 1em;
	margin-left: 1em;
}

#results_container ul.navbar li {
	display: inline;
}

.input {
	color: black;
	background-color: #eaebee;
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-size: small;
}

/* Various Bits of the Table Header */
/*
*/

p.revalidate_instructions {
	font-size: small;
	font-style: italic;
	margin: .5em .5em 0 1em;
}

#revalidate_opts {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	padding-bottom: 1em;
	padding-left: .5em;
	margin-top: 1em;
	clear: left;
}

#revalidate_opts,
#revalidate_opts label,
#revalidate_opts p,
#revalidate_opts div,
#revalidate_opts a {
	background-color: #fcfcfc;
}

#revalidate_opts legend {
	/*margin-top: 1.8em;*/
	background-color: #eaebee;
	padding: .5em;
	border: 1px solid #ccc;
}

#revalidate_opts p.moreinfo {
	padding: 10px;
	margin-top: .3em;
	float: left;
	width: 20em;
	font-size: x-small;
	margin-bottom: 0;
}

#revalidate_button {
	float: right;
	width: 6em;
	padding-right: 3.5em !important;
}

table.header {
	clear: both;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
}

#results_container table {
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}
#results_container table td,
#results_container table th {
	border-top: 0 solid #ddd;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eaebee;
	padding: .4em;
	text-indent: .5em;
	border-collapse: collapse;
}
#results_container table th {
	background-color: #eaebee;
	color: #11111a;
	border-right: 1px solid #ccc;
	font-weight: bold;
	font-size: 1em;
}

#results_container table th label {
	background-color: #eaebee;
	color: #11111a;
	font-weight: bold;
	font-size: 1em;
}

#results_container table {
	margin-bottom: .5em;
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}

#results_container td,
#results_container th {
	border-top: 0 solid #ddd;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eaebee;
	border-collapse: collapse;
}
#results_container th {
	background-color: #eaebee;
	color: #11111a;
	border-right: 1px solid #ccc;
}


#revalidate_opts table.header {
	margin-top: .5em;
}

#revalidate_opts table.header,
#revalidate_opts table.header td,
#revalidate_opts table.header tr {
	border: 0;
}
#revalidate_opts #revalidate_button input {
	background-color: #eaebee;
	color: #365d95;
	padding: .3em 1em;
	border: 1px outset #ccc;
}
#revalidate_opts #revalidate_button input:active {
	border-style: inset !important;
}

/* Error Messages Display */
/*
*/

/* "Fatal" warnings... */

#warnings,
#error_loop,
#fatal-errors {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

ol li.msg_info,
ol li.msg_warn,
ol li.msg_err {
	border: 1px solid #eaebee;
	border-top: 0;
	list-style-position: inside;
	padding: 1em;
	padding-bottom: 2em;
	clear: both;
}

ol li.msg_info:hover,
ol li.msg_warn:hover,
ol li.msg_err:hover,
ol li.msg_info:hover *,
ol li.msg_warn:hover *,
ol li.msg_err:hover * {
	background-color: #fcfcfc;
}

#warnings,
#error_loop,
#fatal-errors {
	padding: 0;
	border-top: 1px solid #eaebee;
}

#warnings li ul li,
#error_loop ul li,
#error_loop p,
#warnings p {
	line-height: 135%;
	margin-bottom: .65em;
	/*margin-right: 2em;*/
}

li span.err_type img {
	width: 1.2em;
	height: 1.2em;
	padding-bottom: .2em;
	vertical-align: middle;
}

/*
li.msg_info span.err_type{
	background-color: #888;
	padding: .1em .5em;
	color: white;
	font-size: smaller;
}

li.msg_warn span.err_type{
	padding: .1em .5em;
	background-color: #fa9084;
	color: #333;
	font-size: smaller;
}

li.msg_err span.err_type{
	padding: .1em .5em;
	background-color: #d23d24;
	color:white;
	font-size: smaller;
}
*/
.msg {
	font-weight: bold;
	line-height: 130%;
}
li.msg_info span.msg {
	/* these messages are not errors */
	font-weight: normal !important;
}

.ve {
	font-size: smaller;
	padding: 0;
	width: 100%;
}

.ve p {
	line-height: 110%;
	margin: 1ex 5em 1ex 1em;
	text-align: justify;
}

/* no Helpwanted, hence giving it a bit of space instead */
li.msg_info {
	padding-bottom: 2em;
}

p.helpwanted {
	padding: 0;
	margin: 0;
	margin-top: 0;
	color: #888;
	text-align: left;
	float: right;
	width: 20px;
	font-weight: bold;
	position: relative;
	left: 0;
	top: -3em;
}

li.grouped p.helpwanted {
	top: -1em;
}

p.helpwanted a {
	color: #88f;
	text-decoration: none;
}

code.input {
	margin-bottom: 2ex;
}

code.input strong {
	color: red;
	padding-left: .5ex;
	padding-right: .5ex;
	font-weight: bolder;
}


/* Source Code Display */
/*
*/

#source ol {
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-size: smaller;
	background: #eaebee;
	border: 1px solid black;
	margin-top: 1em;
	list-style-position: inside;
	list-style-type: decimal;
}
#source ol li {
	margin: .5em 1em;
	background-color: #eaebee;
	line-height: 150%;
}

#source ol li a {
	color: inherit;
	background-color: transparent;
	text-decoration: none;
}

pre.source {
	font-family: "Bitstream Vera Sans Mono", monospace;
	border: 1px solid black;
	background: #eaebee;
	margin: 1em;
	padding: 1em;
	overflow: scroll;
	font-size: smaller;
}

/* Style for non-parser warnings. */
/*
*/

#warnings {
	padding: 0;
}


th {
	padding-right: .5em;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
}

td {
	text-align: left;
	padding-left: .5em;
}

.info {
	color: black;
	background: white;
	border-color: gray;
}

.warning {
	color: black;
	background: silver;
	border-color: gray;
}

.error {
	color: black;
	background: yellow;
	border-color: black;
}

.fatal h2 {
	color: black;
	background: red;
	border: solid black 1px;
}

#result {
	clear: left;
	padding-top: 1em;
}

form {
	margin: 0 !important;
	padding: 0 !important;
}

h2.valid,
h2.invalid,
h2.tentative_valid {
	text-align: center;
	margin: 0;
	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 1.3em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	border-color: black;
	padding-top: .2em;
	padding-bottom: .2em;
}
/* the default color of the headings is green now,
but we want to use it only for "congratulations"
and stick to a neutral color for other headings */

h3,
h4 {
	color: #777 !important;
}

#congrats {
	color: #690 !important;
}

.valid,
.valid strong {
	background-color: #55b05a;
	color: white;
}

.tentative_valid,
.tentative_valid strong {
	/* we could use a different color than for "valid" */
	/*  background-color: #888; */
	/* ... or simply use the same */
	background: #55b05a;
	color: white;
}

.invalid,
.invalid strong {
	background-color: #d23d24 !important;
	color: white !important;
}

td.valid {
	background-color: white;
	color: #55b05a;
}

strong.has_warnings {
	font-weight: bold;
	color: #cfac08;
	background-color: white;
}
td.invalid,
h3.invalid {
	color: #d23d24 !important;
	background-color: white !important;
}

img.inline-badge {
	float: left;
	padding: 10px;
	margin-left: 3em;
}

pre.badgeSnippet {
	margin-left: 108px !important;  /* give room to the image */
	padding-left: 3em;
	font-size: x-small;
	color: #777;
	margin-bottom: 2em;
}

p.backtop {
	color: #bbc;
	font-size: x-small;
	padding-right: 0 !important;
	margin: 1em 0 !important;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: .3em;
	text-align: right;
	border-top: 1px solid #eef;
	clear: both;
}

p.backtop a:link,
p.backtop a:hover,
p.backtop a:visited {
	color: #bbc;
	text-decoration: none;
}

/* document outline */

pre.outline {
	line-height: 160%;
	padding-left: 1.5em;
}
