    <p>
      HTML 문서 제일 처음에 DOCTYPE 선언을 위치시켜야 합니다. 예를 들면, <a
      href="http://www.w3.org/TR/xhtml1/">XHTML 1.0</a> 문서의 경우 아래와
      같이 선언을 하게 됩니다:
    </p>
    <pre>
      &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"&gt;
      &lt;html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"&gt;
        &lt;head&gt;
          &lt;title&gt;Title&lt;/title&gt;
        &lt;/head&gt;

        &lt;body&gt;
          &lt;!-- ... body of document ... --&gt;
        &lt;/body&gt;
      &lt;/html&gt;
    </pre>
    <p>
      XML 문서의 경우, DOCTYPE 선언 이전에 "XML 선언"을 넣기를 바랄 수 있습니다만,
      이것은 오래된 브라우저에서는 지원이 되지 않습니다. 이 문제를 해결하기 위해서는
      <a href="http://www.w3.org/TR/xhtml1/">XHTML 1.0</a> 권장사항을 참조하시기
      바랍니다.
    </p>
