    <p>
      <a href="http://www.iana.org/"><abbr
      title="Internet Assigned Numbers Authority">IANA</abbr></a>
      는 <a href="http://www.iana.org/assignments/character-sets">공식
      문자셋 이름</a>에 대한 리스트를 관리하며,
      <abbr title="Web Design Group">WDG</abbr>은 <a
          href="http://www.htmlhelp.com/tools/validator/charset.html">정확한
      문자 인코딩 설정 도움에 대한 정보</a>를 가지고 있습니다.
    </p>
