  <div id="tidy">
    <h3>"HTML-Tidy"를 이용하여 수정한 소스 리스트</h3>

    <p>다음은 당신의 문서를 <a href="http://tidy.sourceforge.net/">HTML-Tidy</a>를 이용하여
    <em>수정한</em> 결과 입니다.</p>
    <p>HTML-Tidy 는 W3C에서 개발한 것이 아닌 3th party 응용 프로그램으로 이것의 결과에 대해서는
       <em>어떠한 개런티도 제공하지 않습니다.</em></p>
    <pre class="source"><TMPL_VAR NAME="tidy_output" ESCAPE="HTML"></pre>

    <TMPL_INCLUDE NAME="backtop.tmpl">

  </div>
