<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Service Not Available - W3C Markup Validator</title>
  </head>
<body>
<h1>Service Not Available (503)</h1>

<p>The Web Service API is not enabled on this instance of the Markup Validator.</p>
<p>If you are the administrator of this service, you can switch the service on by changing the line :<br />
<code>Enable SOAP =  no</code><br />
to <br />
<code>Enable SOAP =  yes</code><br />
in your validator.conf configuration file.</p>

</body>
</html>
