<TMPL_IF NAME="W00">
  <m:warning><m:messageid>W00</m:messageid><m:message>Using experimental feature: <TMPL_VAR NAME="W00_experimental_name" ESCAPE="HTML">.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W01">
  <m:warning><m:messageid>W01</m:messageid><m:message>Missing "charset" attribute for
    "<TMPL_VAR NAME="W01_ct" ESCAPE="HTML">" document.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W02">
  <m:warning><m:messageid>W02</m:messageid><m:message>No Character Encoding Found!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W03">
  <m:warning><m:messageid>W03</m:messageid><m:message>Character Encoding Override in effect!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W04">
  <m:warning><m:messageid>W04</m:messageid><m:message>No Character Encoding Found!
    <TMPL_IF NAME="W04_override">
      Using
    <TMPL_ELSE>
      Falling back to 
    </TMPL_IF>
    <TMPL_IF NAME="W04_charset"><TMPL_VAR NAME="W04_charset" ESCAPE="HTML"><TMPL_ELSE>UTF-8</TMPL_IF>.
  </m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W05">
  <m:warning><m:messageid>W05</m:messageid><m:message>DOCTYPE Override in effect!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W06">
  <m:warning><m:messageid>W06</m:messageid><m:message>Unable to Determine Parse Mode!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W07">
  <m:warning><m:messageid>W07</m:messageid><m:message>Contradictory Parse Modes Detected!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W08">
  <m:warning><m:messageid>W08</m:messageid><m:message>No Content-Type Found!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W09">
  <m:warning><m:messageid>W09</m:messageid><m:message>No DOCTYPE found! Attempting validation with <TMPL_VAR NAME="W09_dtd" ESCAPE="HTML">.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W09xml">
  <m:warning><m:messageid>W09xml</m:messageid><m:message>No DOCTYPE found! Checking XML syntax only.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W10">
  <m:warning><m:messageid>W10</m:messageid><m:message>Unknown Namespace Found</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W11">
  <m:warning><m:messageid>W11</m:messageid><m:message>Namespace Found in non-XML Document</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W12">
  <m:warning><m:messageid>W12</m:messageid><m:message>No Namespace Found</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W13">
  <m:warning><m:messageid>W13</m:messageid><m:message>DOCTYPE Override in effect!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W14">
  <m:warning><m:messageid>W14</m:messageid><m:message>No DOCTYPE Found!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W15">
  <m:warning><m:messageid>W15</m:messageid><m:message>DOCTYPE Override in effect!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W16">
  <m:warning><m:messageid>W16</m:messageid><m:message>No DOCTYPE Found! Falling Back to
    <TMPL_VAR NAME="W16_dtd" ESCAPE="HTML">.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W17">
  <m:warning><m:messageid>W17</m:messageid><m:message>No Character Encoding detected!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W18">
  <m:warning><m:messageid>W18</m:messageid><m:message>Character Encoding mismatch!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W19">
  <m:warning><m:messageid>W19</m:messageid><m:message>Character Encoding mismatch!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W20">
  <m:warning><m:messageid>W20</m:messageid><m:message>Character Encoding mismatch!</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W21">
  <m:warning><m:messageid>W21</m:messageid><m:message>Byte-Order Mark found in UTF-8 File.</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W22">
<m:warning><m:messageid>W22</m:messageid><m:message>Character Encoding suggestion: use 
<TMPL_VAR NAME="W22_suggested" ESCAPE="HTML"> instead of <TMPL_VAR NAME="W22_declared" ESCAPE="HTML"></m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W23">
  <m:warning><m:messageid>W23</m:messageid><m:message>Conflict between Mime Type and Document Type</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W24">
  <m:warning><m:messageid>W24</m:messageid><m:message>Rare or unregistered Character Encoding detected</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W25">
  <m:warning><m:messageid>W25</m:messageid><m:message><TMPL_VAR NAME="W25_dtd" ESCAPE="HTML"> document without DOCTYPE detected</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W26">
  <m:warning><m:messageid>W26</m:messageid><m:message>Mismatch between Public and System identifiers in the DOCTYPE declaration</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W27">
  <m:warning><m:messageid>W27</m:messageid><m:message>No Character encoding declared at document level</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W28">
  <m:warning><m:messageid>W28</m:messageid><m:message>Using Direct Input mode: UTF-8 character encoding assumed</m:message></m:warning>
</TMPL_IF>
<TMPL_IF NAME="W29">
  <m:warning><m:messageid>W29</m:messageid><m:message>Error cleaning up markup with HTML-Tidy</m:message></m:warning>
</TMPL_IF>

<TMPL_IF NAME="W@@">
  <m:warning><m:messageid>W@@</m:messageid><m:message></m:message></m:warning>
</TMPL_IF>

