Content-Type: application/xml; charset=UTF-8
<TMPL_IF NAME="fatal_referer_error">Vary: Referer
</TMPL_IF>X-W3C-Validator-Recursion: <TMPL_VAR NAME="depth" DEFAULT="1"><TMPL_IF NAME="fatal_error">
X-W3C-Validator-Status: Abort<TMPL_ELSE><TMPL_IF NAME="valid_status">
X-W3C-Validator-Status: <TMPL_VAR NAME="valid_status"></TMPL_IF>
X-W3C-Validator-Errors: <TMPL_VAR NAME="valid_errors_num">
X-W3C-Validator-Warnings: <TMPL_VAR NAME="valid_warnings_num"></TMPL_IF>

<?xml version='1.0' encoding="utf-8"?>
<observationresponse xmlns="http://www.w3.org/2009/10/unicorn/observationresponse" ref="<TMPL_VAR NAME="file_uri" ESCAPE="HTML">" xml:lang="en">

<status value="failed"/>

  <TMPL_IF NAME="have_warnings">
    <TMPL_INCLUDE NAME="ucn_warnings.tmpl">
  </TMPL_IF>

<message type="error">

  <TMPL_IF NAME="fatal_no_checker">
    <title>External Checker not available</title>
    <description>
	  Checking the Document Type of this document requires the help of an external tool which was either not enabled
      in this validator, or is currently unavailable. Check in the validator's system configuration 
      that <TMPL_IF NAME="fatal_missing_checker"><TMPL_VAR NAME="fatal_missing_checker"> is enabled and functional
      <TMPL_ELSE>all external checkers are enabled, and test if they are responsive</TMPL_IF>.
      The error encountered was:
      <code><TMPL_VAR NAME="fatal_checker_error" ESCAPE="HTML"></code>
    </description>
  </TMPL_IF>

  <TMPL_IF NAME="fatal_transcode_error">
    <title>Transcode Error</title>
    <description>
      A fatal error occurred when attempting to transcode the character
      encoding of the document. Either we do not support this character
      encoding ("<TMPL_VAR NAME="fatal_transcode_charset" ESCAPE="HTML">")
      yet, or you have specified a non-existent character encoding (often
      a misspelling).
      The error was: "<TMPL_VAR NAME="fatal_transcode_errmsg">".
    </description>
  </TMPL_IF>

  <TMPL_IF NAME="fatal_decode_error">
    <title>Decode Error</title>
    <description>
      A fatal error occurred when attempting to decode response body
      from <TMPL_VAR NAME="fatal_decode_uri" ESCAPE="HTML">.
      Either we do not support the content encoding specified
      ("<TMPL_VAR NAME="fatal_decode_cenc" ESCAPE="HTML">"), or an
      error occurred while decoding it.
      The error was: "<TMPL_VAR NAME="fatal_decode_errmsg" ESCAPE="HTML">".
    </description>
  </TMPL_IF>

  <TMPL_IF NAME="fatal_byte_error">
    <title>Incorrect Bytes detected</title>
    <description>
      Sorry, I am unable to validate this document because on line
      <TMPL_VAR NAME="fatal_byte_lines"> 
      it contained one or more bytes that I cannot interpret as
      <TMPL_VAR NAME="fatal_byte_charset" ESCAPE="HTML">
        (in other words, the bytes found are not valid values in the specified
        Character Encoding). Please check both the content of the file and the
        character encoding indication.
      </description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_uri_error">
      <title>URL scheme not supported</title>
      <description>
        Sorry, this type of URL scheme
        (<TMPL_VAR NAME="fatal_uri_scheme" ESCAPE="HTML">) is not
        supported by this service. Please check that you entered the URL correctly.
      </description>
    </TMPL_IF>
    <TMPL_IF NAME="fatal_no_content">
      <title>No Content to validate</title>
      <description>
        Sorry, I could not find any content to validate. It is probable that you
        clicked on the "check" button without choosing a URL, a file or entering
        the content of the document you would like to validate.
      </description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_ip_error">
      <title>IP not public</title>
      <description>
        Sorry, the IP address <TMPL_IF NAME="fatal_ip_hostname">of</TMPL_IF>
        <TMPL_VAR NAME="fatal_ip_host"> is not public.
        For security reasons, validating resources located at non-public IP
        addresses has been disabled in this service.
      </description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_http_error">
      <title>HTTP Error</title>
      <description>
        Unexpected HTTP response 
        <TMPL_VAR NAME="fatal_http_code" ESCAPE="HTML"> <TMPL_VAR NAME="fatal_http_msg" ESCAPE="HTML">
        while trying to retrieve <TMPL_VAR NAME="fatal_http_uri" ESCAPE="HTML">.
        <TMPL_IF NAME="fatal_http_dns">
          If you made recent changes to your domain name (DNS) configuration, you may
          also want to <a href="http://www.squish.net/dnscheck/">check that your
          domain records are correct</a>, or ask your hosting company to do so.
        </TMPL_IF>
        <TMPL_IF NAME="fatal_http_warn">
          More information about why this is happening may be available from
          warnings reported by the validator's HTTP (and other protocol) client
          library:
          <TMPL_VAR NAME="fatal_http_warn" ESCAPE="HTML">
        </TMPL_IF>
      </description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_mime_error">
      <title>unsupported or unrecognized Content Type</title>
      <description>
        Sorry, I am unable to validate this document because its content type
        is <TMPL_VAR NAME="fatal_mime_ct" ESCAPE="HTML">, which is
        not currently supported by this service.
      </description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_parse_extid_error">
      <title>Fatal Error: <TMPL_VAR NAME="fatal_parse_extid_msg" ESCAPE="HTML"></title>
      <description>
        I could not parse this document, because it makes reference to a
        system-specific file instead of using a well-known public identifier
      to specify the type of markup being used.</description>
    </TMPL_IF>

    <TMPL_IF NAME="fatal_referer_error">
      <title>No Referer header found!</title>
      <description>
        You have requested we check the referring page, but your browser did
        not send the HTTP "Referer" header field. This can be for several
        reasons, but most commonly it is because your browser does not
        know about this header, has been configured not to send one,
        transferred the referring document over a secure protocol such as
        https but is accessing the validator over ordinary non-secure http,
        or is behind a proxy or firewall that strips it out of the request
        before it reaches us.
      </description>
    </TMPL_IF>
  </message>
</observationresponse>
