/*
   Base Style Sheet for the W3C MarkUp Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: base.css,v 1.29 2002-12-08 01:46:44 link Exp $
*/

@import url(results.css); /* CSS for validation results. */
@import url(navbar.css);  /* CSS for navigation menu. */
@import url(tips.css);    /* CSS for Quality Tips. */

body {
  line-height:     120%;
  color:           black;
  background:      white;
  font-weight:     normal;
  word-spacing:    normal;
  letter-spacing:  normal;
  text-transform:  none;
  font-family:     sans-serif;
  font-style:      normal;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: #eee;
}

a:active {
  color: red;
  background-color: yellow;
}

acronym:hover, abbrev:hover {cursor: help}
abbrev[title], acronym[title], span[title] {
  border-bottom: thin dotted;
  cursor: help;
}

pre, code, tt {
  font-family: monospace;
  line-height: 100%;
  white-space: pre;
}

a:link img, a:visited img {border-style: none}
a img {color: white} /* The only way to hide the border in NS 4.x */

ul.toc {
  list-style: none;
}

ol li {
  max-width: 75ex;
  padding: .1em;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

.hideme {display: none}

#Notice {
  border: solid;
  margin: .2em;
  padding: .5em;
  text-align: justify;
}

/* dt a {color: black} */ /* These are usually targets and not links */
h1 a {color: black} /* These are usually targets and not links */
h2 a {color: black} /* These are usually targets and not links */
h3 a {color: black} /* These are usually targets and not links */

img {vertical-align: middle}
h1#title {
  background-color: #eee;
  border-bottom: 1px solid black;
  padding: .25em;
}

/* done vs. tbc for the TODO list */
.done { text-decoration: line-through; }

address img {
  float: right;
  width: 88px;
}

address {
  padding-top:     .5em;
  padding-right:    1em;
  padding-left:     1em;
  padding-bottom:  .5em;
  margin-top:       3em;;
  border-top:       1px solid black;
  background-color: #eee;
  clear:            right;
}

p.jumpbar {
  text-align: left;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding: 1ex;
  background-color: #eee;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

p.jumpbar a:hover {
  background: #ccc;
}

.nsnote {
  display: none;
}

.stb {clear: left}


div.colophon {
  margin-left: 2em;
  font-style: italic;
}

div.colophon em {
  font-style: normal;
}

/* Various header(ish) things. Definitions cribbed from the CORE Styles. */
h1 {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  /* color: #005A9C; */
  color: #053188
}

h2 {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 1.75em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h3 {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 1.58em;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h4 {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 1.33em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h5, dt {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 1.17em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 1em;
}
		
h6 {
  font-family: sans-serif;
  font-size-adjust: .53;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

/* documentation - table of contents */
#toc {	
  border-bottom : 2px dotted black;
}

kbd {
  font-weight: bold;
}

.shout {
  background: yellow;
  border: .5ex dotted black;
  padding: 1em;
}

.shout strong {
  display: block;
  color: red;
}

input {
  vertical-align: middle;
}

input.reset {
  text-align: center;
  font-family: monospace;
}

input.default {
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

/* comma tools table */

td.comma-desc { background: #ffeecc;  
border : 1px solid black;
font-family: sans-serif }
td.comma-shortcut { background: #e7e7ff; 
border : 1px solid black;
font-family: monospace }
td.comma-tool { background: #e7e7ff;  border : 1px solid black;}


/* config param table */

table.config tr th {
  text-align: left;
  background: #e7e7ff;
}
table.config tr td {
  background: #ffeecc;  
  border : 1px solid black;
  font-family: sans-serif;
}

table.config tr td.subtable {
  background: white;
  border: none;
}
