/*
  Base Style Sheet for the W3C HTML Validation Service.

  Copyright © 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
  See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

  $Id: base.css,v 1.10 2001-07-28 22:32:31 link Exp $
*/

body {
  color:          black;
  background:     white;
  font-size:      1em;
  font-weight:    normal;
  word-spacing:   normal;
  letter-spacing: normal;
  text-transform: none;
  font-family:    Verdana, Myriad Web, Syntax, sans-serif;
}

a         {color: #0000ee}
a:visited {color: #551a8b}
a:hover   {color: #ee0000}

pre {font-family: monospace}

a:link img, a:visited img {border-style: none}
a img {color: white} /* The only way to hide the border in NS 4.x */

ul.toc {
  list-style: disc;
  list-style: none;
}

ol li {
  width: 75ex;
  padding: .1em;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

.hideme {display: none}

dt a {color: black} /* These are usually targets and not links */
h1 a {color: black} /* These are usually targets and not links */
h2 a {color: black} /* These are usually targets and not links */
h3 a {color: black} /* These are usually targets and not links */

address img {float: right}
address {
  padding-top: 1em;
  margin-top:  3em;
  border-top-style: solid;
  border-top-color: black;
}

p.navbar a {text-decoration: none}
p.navbar {
  float: right;
  text-align: right;
}

table th {
  text-align: right;
  vertical-align: top;
}

div.stb {clear: both}

.intro {
  width: 65ex;
  margin-left: 2em;
  text-align: justify;
}

/* Various header(ish) things. Definitions cribbed from the CORE Styles. */
h1	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	2em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h2	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.75em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h3	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.58em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h4	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.33em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h5, dt	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.17em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h6	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	

)