/*
   Base Style Sheet for the W3C HTML Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: base.css,v 1.20.2.10 2002-05-12 20:52:29 link Exp $
*/

@import url(/results.css); /* CSS for validation results. */
@import url(/navbar.css);  /* CSS for navigation menu. */

body {
  color:          black;
  background:     white;
  font-size:      1em;
  font-weight:    normal;
  word-spacing:   normal;
  letter-spacing: normal;
  text-transform: none;
  font-family:    Verdana, "Myriad Web", Syntax, sans-serif;
}

a:hover   {background-color:#eee}
a:visited {color: purple}

pre, code, tt {font-family: monospace}

a:link img, a:visited img {border-style: none}
a img {color: white} /* The only way to hide the border in NS 4.x */

ul.toc {
  list-style: none;
}

ol li {
  max-width: 75ex;
  padding: .1em;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

.hideme {display: none}

#Notice {
  border: solid;
  margin: .2em;
  padding: .5em;
  text-align: justify;
}

/* dt a {color: black} */ /* These are usually targets and not links */
h1 a {color: black} /* These are usually targets and not links */
h2 a {color: black} /* These are usually targets and not links */
h3 a {color: black} /* These are usually targets and not links */

img {vertical-align: middle}
h1#title {
  background-color: #eee;
/*  border-top: 1px solid black; */
  border-bottom: 1px solid black;
/*  border-left: 1px solid black; */
  padding: .25em;
}

/* done vs. tbc for the TODO list */
.done { text-decoration: line-through; }

address img {float: right}
address {
  padding-top: .5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  margin-top:  3em;
  border-top: 1px solid black;
  background-color: #eee;
  clear: both;
}

p.jumpbar {
  float: left;
  clear: left;
  text-align: left;
  text-decoration: none;
  margin: 0em 1em .5em 0em;
  padding: 1ex;
  width: 12ex;
  background-color: #eee;
  border:1px dashed #999;
}

p.jumpbar a {
  display: block;;
}

p.jumpbar a:hover {
  background: #ccc;
}

.nsnote {
  display: none;
}

.stb {clear: left}


div.colophon {
  margin-left: 2em;
  font-style: italic;
}

div.colophon em {
  font-style: normal;
}

/* Various header(ish) things. Definitions cribbed from the CORE Styles. */
h1 {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #005A9C;
}

h2 {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 1.75em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h3 {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 1.58em;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h4 {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 1.33em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}

h5, dt {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 1.17em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 1em;
}
		
h6 {
  font-family: Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
  font-size-adjust: .53;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
}


