/*
  Base Style Sheet for the W3C HTML Validation Service.

  Copyright © 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
  See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

  $Id: base.css,v 1.2 2001-07-16 00:42:39 link Exp $
*/

/* Import the W3C Base Stylesheet */
@import {url('http://w3.org/StyleSheets/base.css')}

body {
	background: white;
	color: black;
	font-size:	1em;
	font-weight:	normal;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family:	Verdana, Myriad Web, Syntax, sans-serif;
}

a         {color: #0000ee}
a:visited {color: #551a8b}
a:hover   {color: #ee0000}

/* Various header(ish) things. Definitions cribbed from the CORE Styles. */
H1	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	2em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.75em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.58em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.33em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1.17em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family:	Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	font-size-adjust:	.53;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	

