/*
   Documentation Style Sheet for the W3C Markup Validation Service.
 
   Copyright 2003 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See <http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright>
 
   $Id: docs.css,v 1.2 2004-05-09 15:56:49 link Exp $
*/

/*
   Please Note:
   Every selector in this stylesheet should require a parent element with the
   class ".doc" to avoid namespace clashes. Currently the class is set on a
   "div" element, but there is no reason to limit it to that. i.e. use the
   ".doc" selector as parent, not "div.doc".
*/


/* Margins common (relative) to multiple block elements. */
.doc h4, .doc h5, .doc p, .doc pre, .doc ul, .doc table
{
 margin-left: 1em;
 /* margin-right: 20%; */
margin-right: 1em;
}

/* Set line height to 1.5x to allow for various inline decoration. */
.doc {
  line-height: 150%;
}

/* documentation - table of contents */
#toc {
  font-size: .8em;
}

.doc div#toc ul {
  margin-left:  0;
  margin-right: 0;
}

/* documentation - error explanations */
dl#expl dt code { /* headings for an error */
  white-space: normal;
  font-weight: bold;
}

dl#expl dt {
  border-top: 1px dashed black;
  margin-top: 2em;
  margin-bottom: 1em;
}

.doc dd {
  margin-right: 0; /* no need for the extra margin if we nicely put the text of the dd in a paragraph */
}
.doc var { /* headings for an error */
  color: #006;
}

/* A snippet of code used inline. */
.doc code {
  white-space: normal;
  font-weight: bold;
  color: #006;
  display: inline;
  padding-left: .2em;
  padding-right: .2em;
  background: #eef;
  color:      #337;
  font-family: "Bitstream Vera Sans Mono", monospace;
  border: 1px dotted #ccf;
}

.doc code.block {
  display: block;
  padding: 1em;
  white-space: pre;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right:  3em;
}

.doc code samp {
  font-weight: normal;
  color: black;
  font-style: italic;
}
