/*
   Navigation Style Sheet for the W3C Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: navbar.css,v 1.6 2003-02-24 23:33:18 ville Exp $
*/

dl.navbar {
  float: right;
  text-decoration: none;
  text-align: left;
  background-color: #eee;
  border-left: 1px solid black;
  margin-left: 1em;
  padding-left: 1em;
}

dl.navbar dt {
  text-align: left;
  margin-left: 0px;
}

dl.navbar dd {
  margin: 0px;
}

dl.navbar ul {
  padding: 0px;
}

dl.navbar ul li {
  list-style-type: none;
  margin-top: 1px;
}

dl.navbar ul li a {
  display: block;
  text-decoration: none;
  font-family: sans-serif;
}

dl.navbar ul li a:hover {
  background: #ccc;
}











/*
div.navbar p a {
  display: block;
  text-decoration: none;
}

div.navbar p a:hover {
  background: #ccc;
}

div.navbar {
  float:            right;
  text-align:       right;
  text-decoration:  none;
  margin:           .1ex .1ex 2.5ex 1ex;
  padding:          1ex;
  background-color: #eee;
  border-left:      1px solid black;
  clear:            both;
  width:            8em;
}

div.navbar p {
  border-top: 1px solid black;
  margin:     .1ex;
  padding:    .1ex .1em 1.5ex .1em;
}

div.navbar p.main {
  border-top-style: none;
}
*/
