/*
   Navigation Style Sheet for the W3C Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: navbar.css,v 1.3.2.2 2003-07-20 17:08:38 link Exp $
*/

div.navbar {
  font-size: smaller;
}

div.navbar p a {
  display: block;
  text-decoration: none;
}

div.navbar p a:hover {
  background: #ccc;
}

div.navbar {
  float:            right;
  text-align:       right;
  text-decoration:  none;
  margin:           .1ex 0 2.5ex 1ex;
  padding:          1ex;
  background-color: #eee;
  border-top:       1px solid #eee;
  border-left:      1px solid black;
  border-bottom:    1px solid black;
  border-right:     1px solid #eee;
  clear:            both;
  width:            8em;
  margin-top:       -1px;
  margin-left:      2em;
}

div.navbar p {
  border-top: 1px groove #444;
  margin:     .1ex;
  padding:    .1ex .1em 1.5ex .1em;
}

div.navbar p:first-child {
  border: 0;
  font-weight: bold;
}
