/*
   Navigation Style Sheet for the W3C Markup Validation Service.

   Copyright 2000-2004 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: navbar.css,v 1.8 2004-07-21 15:06:55 link Exp $
*/

html {
/*  min-width: 55em; */
}

#menu {
/*  min-width: 63em; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 1.5em;
  background-color: #eee;
  border-bottom: solid 1px black;
}

#menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

#menu li a:link, #menu li a:visited {
  text-decoration: none;
  text-align: center;
  float: left;
  display: block;
  width: 8em;
  padding: 2px 0px;
  margin: 0;
  background-color: #eee;
  color: #053188;
  font-size: smaller;
  font-variant: small-caps;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #ddd;
}

#menu li a#selected:link, #menu li a#selected:visited {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
}

#menu li a:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
}

#menu li a:active {
  background-color: #fff;
  color: #053188;
  border-right: solid 1px #ddd;
}


/* link bar  - all pages*/

#misclinks {
  float:            right;
  width: 8em;
  text-decoration:  none;
  padding:          1ex;
  background-color: #eee;
  border-left:     1px solid black;
  border-bottom:    1px solid black;
  margin-top:       -1px; 
  font-size:        smaller;
}

#misclinks dt {
  text-align: center;
  background: #ddd;
  color:      #053188;
  font-variant: small-caps;
}
#misclinks dd {
  text-align: right;
  margin: 0;
  padding-bottom: 2ex;
}

#misclinks ul {margin: 0; padding: 0;}
#misclinks li {
  list-style-type: none;
  text-align: right;
}
#misclinks ul li a {
  display: block;
}

#misclinks li a:link, #misclinks li a:visited, div.jumpbar li a:link, div.jumpbar li a:visited {
  text-decoration: none;
  display: block;
  padding: 1px 0px;
  margin: 0;
  background-color: #eee;
  color: #053188;
  font-size: smaller;
}

#misclinks li a:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
}

#misclinks li a#selected:link, div.jumpbar li a#selected:visited {
  text-decoration: underline;
}

/* Jump Bar  - results page*/

.jumpbar {
  float:            right;
  width: 8em;
/*  margin-right: -.4em; */ /* FIXME - find the exact value - */
  text-align:       left;
  text-decoration:  none;
  padding:          1ex;
  background-color: #eee;
  border-left:     1px solid black;
  border-bottom:    1px solid black;
  margin-top:       -1.3em; 
  font-size:        smaller;
  font-weight:      bold;
}

.jumpbar ul {
  padding: 0;
  margin:  0;
}

.jumpbar li {
  list-style-type: none;
  text-align: right;
}

div.jumpbar li a:hover {
  background: #fff;
  text-decoration: underline;
}

.jumpbar li a:link, .jumpbar li a:visited {
  text-decoration: none;
  text-align: right;
  display: block;
  width: 8em;
  padding: 2px 0px;
  margin: 0;
  background-color: #eee;
  color: #053188;
  font-size: smaller;
  border-top: dotted 1px black;
}

.jumpbar li a#selected:link, .jumpbar li a#selected:visited {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #fff;
}

