
/* style sheet for the validator's results page */

/* $Id: results.css,v 1.2 1999-10-26 12:58:58 gerald Exp $ */

.markup {
color: red;
font-weight: bolder;
}

.input {
color: black;
background-color: #eeeeee; /* light grey */
}

