/*
   Quality Tips Style Sheet for the W3C Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: tips.css,v 1.4.2.2 2003-02-24 23:14:27 ville Exp $
*/


dl.tip {
  text-align: justify;
  margin-top:    0em;
  background:    #eeeeee;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

dl.tip dt a {
  text-decoration: none;
  color: inherit;
} 

dl.tip dt {
  text-align: center;
  padding: 0em;
  margin: 0em;
  color: black;
  background: #eeeeee;
}

dl.tip dd {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  margin: .5em;
  color: blue;
}

dl.tip dd a {
  padding: .1em .25em;
  text-decoration: none;
  margin:  .5em;
  display: block;
}

