<Files nocharset.html>
RemoveCharset .html
# note - this only works in apache 2.0.24 and later
</Files>
<Files nocharset_notutf8.html>
RemoveCharset .html
# note - this only works in apache 2.0.24 and later
</Files>
<Files ~ "textxml_nocharset(\.xml)?">
ForceType text/xml
</Files>

